h1{
  text-align: center;
}
.jumbotron{
  background-color:lightblue;
  background-origin: padding-box; 
  
  
}
#outputName{
  background-color: lightgreen;
  background-origin: padding-box;
}






